/* CSS file */
Application 
{   
	backgroundColor: #F5F5F5;   
	themeColor: #F5F5F5;
	fontfamily:"宋体";   
	fontSize:"12";
	modal-transparency: 0;
    modalTransparency :.35; 
    modalTransparencyBlur:1.0; 
}
Accordion 
{
	backgroundColor: #e0f0ff;  
}
AccordionHeader
{
	skin: Embed(skinClass="com.zxl.skin.AccordionHeader_skin");
	fontSize:"12";
}
Button
{
	skin:Embed(skinClass="com.zxl.skin.Button_skin");
}
LinkButton
{
	skin: Embed(skinClass="com.zxl.skin.LinkButton_skin");
}
TextInput
{
	/*  borderSkin: Embed(skinClass="TextInput_borderSkin");  */
	 focusSkin: Embed(skinClass="com.zxl.skin.TextInput_focusSkin"); 
}
PopUpButton
{
	popUpIcon: Embed(skinClass="com.zxl.skin.PopUpButton_popUpIcon");
	skin: Embed(skinClass="com.zxl.skin.PopUpButton_skin");
}
List
{
	rollOverColor: #C4E1FF;
	selectionColor: #91baf0;
	borderColor: #9EB6CE;
	textRollOverColor: #000000;
	textSelectedColor: #FFFFFF;
}
HScrollBar
{
	downArrowSkin: Embed(skinClass="com.zxl.skin.HScrollBar_downArrowSkin");
	thumbIcon: Embed(skinClass="com.zxl.skin.HScrollBar_thumbIcon");
	thumbSkin: Embed(skinClass="com.zxl.skin.HScrollBar_thumbSkin");
	trackSkin: Embed(skinClass="com.zxl.skin.HScrollBar_trackSkin");
	upArrowSkin: Embed(skinClass="com.zxl.skin.HScrollBar_upArrowSkin");
}
VScrollBar
{
	downArrowSkin: Embed(skinClass="com.zxl.skin.VScrollBar_downArrowSkin");
	thumbIcon: Embed(skinClass="com.zxl.skin.VScrollBar_thumbIcon");
	thumbSkin: Embed(skinClass="com.zxl.skin.VScrollBar_thumbSkin");
	trackSkin: Embed(skinClass="com.zxl.skin.VScrollBar_trackSkin");
	upArrowSkin: Embed(skinClass="com.zxl.skin.VScrollBar_upArrowSkin");
}
TitleWindow
{
	closeButtonDisabledSkin: Embed(skinClass="com.zxl.skin.TitleWindow_closeButtonDisabledSkin");
	closeButtonDownSkin: Embed(skinClass="com.zxl.skin.TitleWindow_closeButtonDownSkin");
	closeButtonOverSkin: Embed(skinClass="com.zxl.skin.TitleWindow_closeButtonOverSkin");
	closeButtonSkin: Embed(skinClass="com.zxl.skin.TitleWindow_closeButtonSkin");
	closeButtonUpSkin: Embed(skinClass="com.zxl.skin.TitleWindow_closeButtonUpSkin");
}
ComboBox
{
	editableSkin: Embed(skinClass="com.zxl.skin.ComboBox_editableSkin");
	skin: Embed(skinClass="com.zxl.skin.ComboBox_skin");
}
DataGrid
{
	headerColors: #F7FAFC, #D6DEEA;
	borderColor: #9EB6CE;
	alternatingItemColors: #FFFFFF, #EAF2FB;
	selectionColor: #91baf0;
	rollOverColor: #C4E1FF;
	leading: 2;
	textRollOverColor: #000000;
	textSelectedColor: #FFFFFF;
	verticalGridLines: true;
	horizontalGridLines: false;
}
Panel { 
	backgroundAlpha: 1;
	highlightAlphas: 0.4, 0.25;
	headerColors: #F5F5F5, #F5F5F5;
	borderColor: #F5F5F5;
	borderAlpha: 1;
	borderThicknessRight: 3;
	borderThicknessLeft: 3;
	borderThicknessTop: 1;
	borderThicknessBottom: 3;
	shadowDistance: 1;
	cornerRadius: 4;
	backgroundColor: #F5F5F5;
}
.AlertGreenBlue
			{
					headerColors:#91baf0,#91baf0;
					borderColor:#91baf0;
					border-style:solid;
					backgroundColor:#D6E4F9;
					color:#000000;
			}
.AlertGreen
			{
					headerColors:#97ff91,#97ff91;
					borderColor:#97ff91;
					border-style:solid;
					backgroundColor:#D0FFDC;
					color:#000000;
			}
.AlertRed
			{
					headerColors:#ffa4a4,#ffa4a4;
					borderColor:#ffa4a4;
					border-style:solid;
					backgroundColor:#FFF0E5;
					color:#000000;
			}
			
